# CRUD operations in MongoDB using python

### What is MongoDB?

MongoDB is a document-oriented NoSQL database. It's one of the widely used databases in the industry due to its flexibility and ease of use. The architecture of MongoDB consists of collections and documents. MongoDB stores the data in JSON document format that is, it stores data in key-value pair. A group of JSON documents can be termed as a collection. Unlike SQL tables MongoDB documents do not have any fixed schema. With the use of dynamic schema, we can easily make changes to the application without any interruptions.

### How to perform CRUD operations in MongoDB using Python?

To connect with the MongoDB server using python we need to install a python driver named `pymongo`. It contains tools that are used to interact with MongoDB using python.

In [34]:
# Firstly, we need to import the pymongo package

import pymongo

# We will define a variable named connection_url to store the MongoDB connection URL
connection_url="mongodb://localhost:27017/"

# To connect to the MongoDB server, we will use the MongoClient method.
client=pymongo.MongoClient(connection_url)

# Using the client object created above we can access the databases in MongoDB
client.list_database_names()

['admin', 'config', 'local', 'nobel']

In [35]:
# We can create a database using the below command.

database_name="student_database"
student_db=client[database_name]

client.list_database_names()

['admin', 'config', 'local', 'nobel']

In MongoDB, unless we add any document to the database, we cannot see the database created in the list of available databases. To create a document, we need to create a collection in the database which stores the documents. Here we will take the collection name as computer science.

In [36]:
collection_name="computer science"
collection=student_db[collection_name]

# To list the available collections in a database we can use the below command.
print(student_db.list_collection_names())
print(client.list_database_names())

[]
['admin', 'config', 'local', 'nobel']

### Inserting documents in the collection

Inserting documents into a collection can be done in the following two ways

> 1) Inserting a single document into the collection.

> 2) Inserting multiple documents into the collection.

To insert a single document, we use `insert_one()` method.

In [37]:
document={"Name":"Raj",
"Roll No":153,
"Branch": "CSE"}
collection.insert_one(document)

In [38]:
print(student_db.list_collection_names())
print(client.list_database_names())

['computer science']
['admin', 'config', 'local', 'nobel', 'student_database']

To insert multiple documents, we will use `insert_many()` method. To insert these documents, we will create a list of dictionaries that contains the data to be inserted into the collection and pass that list to `insert_many()` method.

In [39]:
documents=[{"Name":"Roshan","Roll No":159,"Branch":"CSE"},{"Name":"Rahim","Roll No":155,"Branch":"CSE"},{"Name":"Ronak","Roll No":156,"Branch":"CSE"}]
collection.insert_many(documents)

In both cases, we can see that an additional entry named `_id` is created for every document. `_id` is a unique identity created for every document. A user can also give a custom `_id` while inserting documents.

### Retrieving the data from the collection

Retrieving data can be done in the following two ways.
> 1. Retrieving a single document

> 2. Retrieving multiple documents

#### Retrieving a single document from the collection.

To retrieve a single document we use `find_one()` method. We need to pass a query as a parameter to `find_one()` method and `find_one()` method search the collection and it will return the first hit document.

In [40]:
query={"Name":"Raj"}
print(collection.find_one(query))

{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}

#### Retrieving multiple documents from the collection.

To retrieve multiple documents we use `find_many()` method. The return type of `find_many()` is a cursor object. We can use for loop to loop over the cursor object.

In [41]:
query={"Branch":"CSE"}
result=collection.find(query)
for i in result:
    print(i)

{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9e'), 'Name': 'Rahim', 'Roll No': 155, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9f'), 'Name': 'Ronak', 'Roll No': 156, 'Branch': 'CSE'}

To retrieve all the documents you need to pass an empty query into the find method. If we want to limit the number of documents to be retrieved then we use `limit()` method.

In [42]:
result=collection.find({}).limit(2)
for i in result:
    print(i)

{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'CSE'}

You can filter the query using query operators such as `gt`, `lt`, eq etc., You can find the full list of query operation [here!](https://docs.mongodb.com/manual/reference/operator/query/ "here!"). 

Example for query filtering:

In [43]:
query={"Roll No":{"$eq":153}}
print(collection.find_one(query))

{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}

### Updating the documents in the collection

Updating the documents can be done in the following two ways.
> 1. Updating a single document

> 2. Updating multiple documents

To update a single document we use `update_one()` method.

For updating the documents we need to provide 2 parameters into the method. The first parameter is a filter parameter and the second parameter is an update parameter. The filter parameter is a query that matches the document to be updated. Update parameter is modifications to be applied for that document.

In [44]:
query={"Roll No":{"$eq":153}}
print(collection.find_one(query))

new_data={'$set':{"Name":'Ramesh'}}
collection.update_one(query,new_data) # https://www.geeksforgeeks.org/python-mongodb-update_one/

query={"Roll No":{"$eq":153}}
print(collection.find_one(query))

{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}
{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Ramesh', 'Roll No': 153, 'Branch': 'CSE'}

To update multiple documents we use `update_many()` method.

In [45]:
query={"Branch":"CSE"}
result=collection.find(query)
for i in result:
    print(i)

present_data={"Branch":"CSE"}
new_data={"$set":{"Branch":"ECE"}}
collection.update_many(present_data,new_data)

query={"Branch":"ECE"}
result=collection.find(query)
for i in result:
    print(i)

{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Ramesh', 'Roll No': 153, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9e'), 'Name': 'Rahim', 'Roll No': 155, 'Branch': 'CSE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9f'), 'Name': 'Ronak', 'Roll No': 156, 'Branch': 'CSE'}
{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Ramesh', 'Roll No': 153, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9e'), 'Name': 'Rahim', 'Roll No': 155, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9f'), 'Name': 'Ronak', 'Roll No': 156, 'Branch': 'ECE'}

### Deleting documents from the collection

Deleting documents can be done in the following two ways.
> 1. Deleting a single document

> 2. Deleting multiple documents

To delete a single document we use `delete_one()` method by passing a query as a parameter.

In [46]:
print("Before deleting")

result=collection.find({})
for i in result:
    print(i)

query={"Roll No":153}
collection.delete_one(query)


print("After deleting")

result=collection.find({})
for i in result:
    print(i)

Before deleting
{'_id': ObjectId('63feda1216f6a6ba78230c9c'), 'Name': 'Ramesh', 'Roll No': 153, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9e'), 'Name': 'Rahim', 'Roll No': 155, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9f'), 'Name': 'Ronak', 'Roll No': 156, 'Branch': 'ECE'}
After deleting
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9e'), 'Name': 'Rahim', 'Roll No': 155, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9f'), 'Name': 'Ronak', 'Roll No': 156, 'Branch': 'ECE'}

To delete multiple documents we use `delete_many()` method.

In [47]:
print("Before deleting")

result=collection.find({})
for i in result:
    print(i)

query={"Branch":"ECE"}
collection.delete_many(query)

print("After deleting")

result=collection.find({})
for i in result:
    print(i)

Before deleting
{'_id': ObjectId('63feda2c16f6a6ba78230c9d'), 'Name': 'Roshan', 'Roll No': 159, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9e'), 'Name': 'Rahim', 'Roll No': 155, 'Branch': 'ECE'}
{'_id': ObjectId('63feda2c16f6a6ba78230c9f'), 'Name': 'Ronak', 'Roll No': 156, 'Branch': 'ECE'}
After deleting

### Dropping collection from the database

To drop a collection we use `drop()` method. Once the drop method is executed entire data in that collection will be erased.

In [48]:
collection.drop()

result=collection.find({})
for i in result:
    print(i)

In [49]:
collection=student_db[collection_name]

# To list the available collections in a database we can use the below command.
print(student_db.list_collection_names())
print(client.list_database_names())

[]
['admin', 'config', 'local', 'nobel']